:global {
    body {
        padding: 0;
        margin: 0;
        line-height: 1.5;
        overflow: hidden;
        background: #f4f6f8;
    }

    .ruyi-title {
        font-size: 18px;
    }

    .ruyi-description {
        font-size: 14px;
        color: #999;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 48px;
        border-bottom: 1px solid #e8e8e8;
        background: #fff;
        > .logo {
            padding-left: 50px;
            width: 200px;
            font-size: 24px;
            font-weight: 500;
            line-height: 38px;

            background: url('chrome-extension://__MSG_@@extension_id__/ruyi-32.png') no-repeat left center;
            color: #1296db;
        }
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow-y: auto;

        .aside {
            padding-top: 8px;
            max-width: 250px;
            border-right: 1px solid #f0f0f0;
            background: #fff;

            :global {
                .ant-menu-vertical {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    border-inline-end-color: transparent;
                }
                .ant-menu-inline-collapsed {
                    width: 56px;
                }
                .ant-menu-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    width: 44px;
                    height: 44px;
                    line-height: unset;
                    border-radius: 50%;
                }
                .anticon {
                    font-size: 20px;
                }
            }
        }

        .contents {
            flex: 1;
            padding: 16px;
            overflow-y: auto;
            background: #f4f6f8;
        }
    }
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    font-size: 16px;

    .logo {
        width: 100%;
        height: 160px;
        background: url('chrome-extension://__MSG_@@extension_id__/ruyi-128.png') no-repeat center center;
    }
}
