:global {
    body {
        padding: 0;
        margin: 0;
        line-height: 1.5;
        overflow: hidden;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 48px;
        border-bottom: 1px solid #e8e8e8;

        > .logo {
            padding-left: 16px;
            width: 200px;
            font-size: 24px;
            font-weight: 500;
            line-height: 38px;
        }
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow-y: auto;

        .aside {
            width: 250px;
            border-right: 1px solid #e8e8e8;
            background: #fff;
        }

        .contents {
            flex: 1;
            padding: 16px;
            overflow-y: auto;
            background: #f4f6f8;
        }
    }
}

.windows {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    > section {
        width: calc(25% - 44px);
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 16px;
        background: #fff;
        border-radius: 8px;

        // & > div {
        //     &:hover {
        //         transform: scale(1.3) rotate(30deg);
        //         transform-origin: center center;
        //         transition: all 0.3s;
        //     }
        // }
    }
}
