:global {
    body {
        padding: 0;
        margin: 0;
        line-height: 1.5;
        overflow: hidden;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 48px;
        border-bottom: 1px solid #e8e8e8;

        > .logo {
            padding-left: 16px;
            width: 200px;
            font-size: 24px;
            font-weight: 500;
            line-height: 38px;
        }
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow-y: auto;

        .aside {
            width: 250px;
            border-right: 1px solid #e8e8e8;
            background: #fff;
        }

        .contents {
            flex: 1;
            padding: 16px;
            overflow-y: auto;
            background: #f4f6f8;
        }
    }
}

.windows {
    .columns {
        width: calc(25% - 44px);
        gap: 4px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin-bottom: 16px;
        background: #fff;
        border-radius: 8px;

        .group {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: -10px;
                top: -4px;
                bottom: -4px;
                width: 100px;
                border-left: 1px solid @primary-color;
            }
        }

        & > div {
            padding: 4px;
            border-radius: 6px;

            &:hover {
                background: rgba(@primary-color, 0.1);
                transition: all 0.3s;
            }

            .item {
                display: flex;
                gap: 8px;
                align-items: center;

                & > span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}
